// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@layer base {
    body {
        /* font-family: "Nunito", sans-serif; */
        @apply t-font-Nunito;
        @apply t-text-black;
        @apply t-bg-app-white;
    }

    h1 {
        @apply t-text-3xl;
        @apply t-font-medium;
        @apply t-font-Poppins;
        @apply t-text-black;
    }
    h2 {
        @apply t-text-2xl;
        @apply t-font-medium;
        @apply t-font-Poppins;
        @apply t-text-black;
    }
}

span.highlight,
a.highlight,
a.active {
    &::after {
        display: block;
        content: "";
        margin-top: -0.4rem;
        width: 100%;
        // margin-left: -5%;
        height: 0.2rem;
        @apply t-bg-green;
    }

    &.--no-highlight {
        &::after {
            display: none;
        }
    }
}

// code
.shiki {
    padding: 1rem;
    border-radius: 0.25rem;
    @apply t-relative;

    code {
        @apply t-block;
        @apply t-w-full;
        @apply t-overflow-auto;
    }

    span {
        font-family: monospace !important;
    }

    span.copy {
        @apply t-text-app-white;
        @apply t-text-xs;
        @apply t-absolute;
        @apply t-cursor-pointer;
        @apply t-select-none;
        top: 0.5rem;
        right: 0.5rem;
    }
}

// blog post
.blogPost {
    p {
        @apply t-my-4;
        @apply t-whitespace-pre-wrap;
        @apply t-break-words;
    }

    img {
        @apply t-mx-auto;
        @apply t-my-4;
    }

    h2 {
        @apply t-my-8;
    }
    h3 {
        @apply t-my-4;
        @apply t-font-bold;
        @apply t-text-xl;
    }
    h4 {
        @apply t-my-2;
        @apply t-font-bold;
        @apply t-text-lg;
    }

    ul {
        list-style-type: disc;
        @apply t-pl-8;
    }

    blockquote {
        @apply t-border-l-4;
        @apply t-border-green;
        @apply t-pl-4;
        @apply t-italic;
    }

    code {
        @apply t-bg-gray-200;
        @apply t-px-2;
        @apply t-rounded;
    }

    a {
        @apply t-underline;
        @apply t-italic;
    }

    .shiki {
        padding: 1rem;
        border-radius: 0.25rem;
        code {
            background-color: inherit;
        }
        overflow: auto;
    }
}

.image-caption {
    a {
        @apply t-underline;
    }
}
